#dropdown {
  display: none;
  background: lightgrey;
  position: absolute;
  z-index: 5;
  padding-left: 5px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.btn {
  background: grey;
  border-radius: 5px;
  padding: 2px;
}
.btn p, #dropdown p {
  font-size: 15px;
  color: black;
}
#dropdown li {
  list-style: none;
  width: 80%;
  padding-left: 5px;
  border-radius: 5px;
  margin-bottom: 2px;
}
li {
    font-size: 20px;
}
div#hW1 li {
    font-size: 10px;
}
h4, h1 {
    color: limegreen;
}
h1 {
  padding-top: 1em;
	font-family: 'Kumar One Outline', cursive;
}
h5 {
    color: red;
}
p {
    margin: 0;
    padding: 0;
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background: #333;
}
img {
    width: 50%;
    height: 50%;
}
li {
  color: red;
}