/*SOURCE OF ARROW*/
/*https://www.w3schools.com/howto/howto_css_arrows.asp*/
i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
li {
    font-size: 20px;
}
div#hW1 li {
    font-size: 10px;
}
h4, h1 {
    color: limegreen;
}
h1 {
    padding-top: 1em;
}
h5 {
    color: red;
}
p {
    margin: 0;
    padding: 0;
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background: black;
}
img {
    width: 20em;
    height: 10em;
}